# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Ambientes virtuais
venv/
.venv/
env/
# Configurações de editores
.vscode/
.idea/
# Arquivos do sistema operacional
.DS_Store
Thumbs.db